
<form action="/users" method="POST">
<input type="text" placeholder="enter user's name" name="user[name]"/>
<input type="number" placeholder="enter user's age" name="user[age]"/>
<input type="submit" value="Submit User"/>
</form>
